header {
    height: 50px;
    border-bottom: 1px solid #ccc;
}

.logo {
    height: 45px;
    width: 45px;
}


.cards {
    border-radius: 10px;
    padding: 10px;
}

.cards>div {
    align-items: center;
}

.cards>div .title {
    margin-left: 15px;
    text-transform: uppercase;
}

div#\36 aus49\ >div .image .logo {
    background-image: url('../img/lotto-6-aus-49.svg');
}

.eurojackpot>div .image .logo {
    background-image: url('../img/eurojackpot.svg');
}

.freiheitplus>div .image .logo {
    background-image: url('../img/freiheitplus.svg');
}

.traumhauslotterie>div .image .logo {
    background-image: url('../img/traumhauslotterie.svg');
}

div#\36 aus49\  {
    background-color: #ffdf00;
}

.eurojackpot.cards {
    background-color: #f5c800;
}

.freiheitplus.cards {
    background-color: #c6071c;
}

.traumhauslotterie.cards {
    background-color: #961c82;
}

p.description {
    padding: 20px 2px;
    font-size: 20px;
}